#canvas {
  position: absolute;
  height: 90%;
  width: 100%;
}

#js-properties-panel {
  position: absolute;
  top: 51px;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

#js-properties-panel:empty {
  display: none;
}

#js-properties-panel > .djs-properties-panel {
  padding-bottom: 70px;
  min-height: 100%;
}
