.bpmn-toolbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bpmn-toolbar-holder {
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
  margin-top: -20px;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 110;
}

bpmn-io {
  position: absolute;
  top: 105px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
